{# /** * @file * Default theme implementation to display a node. * * Available
  variables: * - node: The node entity with limited access to object properties
  and methods. * Only method names starting with "get", "has", or "is" and a few
  common * methods such as "id", "label", and "bundle" are available. For example:
  * - node.getCreatedTime() will return the node creation timestamp. * -
  node.hasField('field_example') returns TRUE if the node bundle includes *
  field_example. (This does not indicate the presence of a value in this * field.)
  * - node.isPublished() will return whether the node is published or not. *
  Calling other methods, such as node.delete(), will result in an exception. * See
  \Drupal\node\Entity\Node for a full list of public properties and * methods for
  the node object. * - label: The title of the node. * - content: All node items.
  Use {{ content }} to print them all, * or print a subset such as
  {{ content.field_example }}. Use * {{ content|without('field_example') }} to
  temporarily suppress the printing * of a given child element. * -
  author_picture: The node author user entity, rendered using the "compact" * view
  mode. * - metadata: Metadata for this node. * - date: Themed creation date
  field. * - author_name: Themed author name field. * - url: Direct URL of the
  current node. * - display_submitted: Whether submission information should be
  displayed. * - attributes: HTML attributes for the containing element. * The
  attributes.class element may contain one or more of the following * classes: * -
  node: The current template type (also known as a "theming hook"). * -
  node--type-[type]: The current node type. For example, if the node is an *
  "Article" it would result in "node--type-article". Note that the machine * name
  will often be in a short form of the human readable label. * -
  node--view-mode-[view_mode]: The View Mode of the node; for example, a * teaser
  would result in: "node--view-mode-teaser", and * full: "node--view-mode-full". *
  The following are controlled through the node publishing options. * -
  node--promoted: Appears on nodes promoted to the front page. * - node--sticky:
  Appears on nodes ordered above other non-sticky nodes in * teaser listings. * -
  node--unpublished: Appears on unpublished nodes visible only to site * admins. *
  - title_attributes: Same as attributes, except applied to the main title * tag
  that appears in the template. * - content_attributes: Same as attributes, except
  applied to the main * content tag that appears in the template. * -
  author_attributes: Same as attributes, except applied to the author of * the
  node tag that appears in the template. * - title_prefix: Additional output
  populated by modules, intended to be * displayed in front of the main title tag
  that appears in the template. * - title_suffix: Additional output populated by
  modules, intended to be * displayed after the main title tag that appears in the
  template. * - view_mode: View mode; for example, "teaser" or "full". * - teaser:
  Flag for the teaser state. Will be true if view_mode is 'teaser'. * - page: Flag
  for the full page state. Will be true if view_mode is 'full'. * - readmore: Flag
  for more state. Will be true if the teaser content of the * node cannot hold the
  main body content. * - logged_in: Flag for authenticated user status. Will be
  true when the * current user is a logged-in member. * - is_admin: Flag for admin
  user status. Will be true when the current user * is an administrator. * * @see
  template_preprocess_node() * * @todo Remove the id attribute (or make it a
  class), because if that gets * rendered twice on a page this is invalid CSS for
  example: two lists * in different view modes. * * @ingroup themeable */ #} {%
  set nd_classes = [ 'node', 'node-nd-blog', 'clearfix', ] %}
  
  <style>
    aside{
      background-color:var(--norgen-primary-blue-light);
      border-radius:12px;
      padding:20px;
    }
    
    .field--name-field-shown-title {
      font-size: 45px;
    }
  
    .field--name-body h2 {
      font-size: 35px;
      margin: 35px 0;
    }
  
    .field--name-body h3 {
      font-size: 25px;
    }

    .saliva-campaign p {
      line-height: 1.3;
      grid-area: description;
    }
  
    .field--name-body img {
      margin: 0 auto 20px;
    }
  
    .collapsiblesection {
      display: none;
    }
  
    /* new styles */
  
    .node-nd-blog .field--name-body img {
      display: block;
      max-width: min(926px, 100%);
      max-height: 700px;
      margin: 0 auto 40px;
    }

    .node-nd-blog .field--name-body figure > img{
      margin-bottom:0px;
    }
  
    .popular-blog-categories {
      border-bottom: 2px solid #eee;
      border-top: 2px solid #eee;
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 260px;
    }
  
    .views-row {
      float: left;
      margin-left: 2px;
    }
  
    .contextual-region h2 {
      font-size: 22px;
      margin-bottom: 10px;
    }
  
    .popular-blog-categories .views-field .field-content a {
      font-size: 18px;
      width: 10%;
    }
  
    .c-content-recent-posts-1 .views-field-title {
      font-size: 16px;
      color: black;
    }
  
    .c-content-recent-posts-1 .views-field-field-author,
    .c-content-recent-posts-1 .views-field-field-sort-date {
      font-size: 15px;
    }
  
    .views-field-field-blog-image .field-content img {
      max-width: 100px;
      max-height: 100px;
      background-size: cover;
      background-position: center;
      grid-area: b;
    }
  
    .c-content-recent-posts-1 li {
      display: grid;
      grid-template:
        "a b" auto
        "c b" auto / 1fr 75px;
      grid-column-gap: 1em;
      row-gap: 0.5em;
      border: none;
      padding: 0;
      margin-bottom: 14px;
      border-bottom: 1px solid #d6d6d6;
    }
  
    .views-field-field-sort-date {
      text-align: right;
    }
  
    blockquote {
      border-left: 5px solid #7ccfca;
    }
  
    blockquote {
      padding: 10px 20px;
      margin: 0 0 20px;
      font-size: 17.5px;
      border-left: 5px solid #eee;
    }
  
    /* Popup */
    .subscribe-CTA-box {
      display: flex;
      position: absolute;
      bottom: 0;
      right: 0;
      height: 5%;
      width: 100%;
      text-align: left;
    }
  
    .CTA-img {
      position: absolute;
      bottom: 0;
      right: 60%;
      height: 300px;
    }
  
    .CTA-bg-shape {
      position: absolute;
      bottom: 0;
      right: 51%;
      height: 86%;
    }
  
    .CTA-text-box {
      display: grid;
      position: absolute;
      bottom: 0;
      right: 0;
      width: 60%;
      text-align: left;
      background-color: #aee8f1;
      height: 100%;
      padding: 2em;
    }
  
    .subscribe-popup1 {
      position: block;
  
      background: white;
     
      padding: 25px;
      text-align: left;
  
      z-index: 1000;
      opacity: 1;
      transition: opacity 0.6s ease 0s;
      margin:20px 0px;
      
    }
  
    .subscribe-popup2 {
      background: white;
      box-shadow: rgb(7 30 87 / 15%) 0px 10px 15px;
      padding: 25px;
      text-align: left;
  
      z-index: 1000;
      opacity: 1;
      transition: opacity 0.6s ease 0s;
      margin-bottom: 5%;
    }
  
    .blog-content>.row {
      width: 100%;
    }
  
    .close {
      float: right;
      font-size: 21px;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: 0.2;
      filter: alpha(opacity=20);
    }
  
    .subscribe-popup1 {
      background-repeat: no-repeat;
      background-image: transparent;
      background-size: 100% 6px, 6px 100%, 100% 6px, 6px 100%;
      background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    }
  
    .subscribe-animation {
      background-image: linear-gradient(to right,
          #0f6b7a 20%,
          #056a7a 40%,
          #2978cf 50%,
          #3874b5 55%,
          #004897 70%,
          #ec1d25 100%),
        linear-gradient(to bottom,
          #ec1d25 20%,
          #004897 40%,
          #3874b5 50%,
          #2978cf 55%,
          #056a7a 70%,
          #0f6b7a 100%),
        linear-gradient(to left,
          #0f6b7a 20%,
          #056a7a 40%,
          #2978cf 50%,
          #3874b5 55%,
          #004897 70%,
          #ec1d25 100%),
        linear-gradient(to top,
          #ec1d25 20%,
          #004897 40%,
          #3874b5 50%,
          #2978cf 55%,
          #056a7a 70%,
          #0f6b7a 100%);
      animation: bg 60s infinite cubic-bezier(0.19, 1, 0.22, 1);
    }
  
    @keyframes bg {
      0% {
        background-size: 0 6px, 6px 0, 0 6px, 6px 0;
      }
  
      1% {
        background-size: 100% 6px, 6px 0, 0 6px, 6px 0;
      }
  
      2% {
        background-size: 100% 6px, 6px 100%, 0 6px, 6px 0;
      }
  
      3% {
        background-size: 100% 6px, 6px 100%, 100% 6px, 6px 0;
      }
  
      4% {
        background-size: 100% 6px, 6px 100%, 100% 6px, 6px 100%;
      }
    }
  
    @keyframes ring {
      0% {
        transform: rotate(0);
      }
  
      1% {
        transform: rotate(30deg);
      }
  
      3% {
        transform: rotate(-28deg);
      }
  
      5% {
        transform: rotate(34deg);
      }
  
      7% {
        transform: rotate(-32deg);
      }
  
      9% {
        transform: rotate(30deg);
      }
  
      11% {
        transform: rotate(-28deg);
      }
  
      13% {
        transform: rotate(26deg);
      }
  
      15% {
        transform: rotate(-24deg);
      }
  
      17% {
        transform: rotate(22deg);
      }
  
      19% {
        transform: rotate(-20deg);
      }
  
      21% {
        transform: rotate(18deg);
      }
  
      23% {
        transform: rotate(-16deg);
      }
  
      25% {
        transform: rotate(14deg);
      }
  
      27% {
        transform: rotate(-12deg);
      }
  
      29% {
        transform: rotate(10deg);
      }
  
      31% {
        transform: rotate(-8deg);
      }
  
      33% {
        transform: rotate(6deg);
      }
  
      35% {
        transform: rotate(-4deg);
      }
  
      37% {
        transform: rotate(2deg);
      }
  
      39% {
        transform: rotate(-1deg);
      }
  
      41% {
        transform: rotate(1deg);
      }
  
      43% {
        transform: rotate(0);
      }
  
      100% {
        transform: rotate(0);
      }
    }
  
    .bell {
      color: linear-gradient(-90deg, #022954, #1e6ab0);
      -webkit-animation: ring 4s 0.7s ease-in-out infinite;
      -webkit-transform-origin: 50% 4px;
      -moz-animation: ring 4s 0.7s ease-in-out infinite;
      -moz-transform-origin: 50% 4px;
      animation: ring 4s 0.7s ease-in-out infinite;
      transform-origin: 50% 4px;
      animation-delay: 6s;
    }
  
    @media only screen and (max-width: 1200px) {
      .popular-blog-categories {
        min-height: 400px;
      }
    }
  
    @media only screen and (max-width: 600px) {
      .CTA-img {
        display: none;
      }
  
      .CTA-bg-shape {
        display: none;
      }
  
      .CTA-text-box {
        width: 100%;
      }
  
      .blog-image {
        max-height: none;
      }
  
    
  
      .blog-content>.row {
        margin-left: 0;
        /*margin-right: 100px;*/
      }
  
      .blog-share {
        width: auto !important;
      }
  
      .shareButton {
        margin: 10px;
      }
  
      iframe {
        width: -webkit-fill-available;
      }
    }
  
    @media only screen and (max-width: 365px) {
      .blog-share {
        display: block !important;
      }
    }
  
    @media (min-width: 430px) {
   
  
      .subscribe-popup2 {
        bottom: 20px;
        left: auto;
        right: 92px;
        border-radius: 4px;
        width: 100%;
        padding: 35px;
      }
    }
  
    @media only screen and (min-width: 990px) {
      .subscribe-popup2 {
        display: none !important;
      }
    }
  
    @media only screen and (max-width: 990px) {
      .subscribe-popup2 {
        display: block;
      }
  
      .popular-blog-categories {
        min-width: 100px
      }
    }
  
    .btn-services {
      border-color: #e19829;
    }
  
    .btn-services {
      background-color: #e19829;
    }
  
    .letter-space {
      letter-spacing: 12px;
    }
  
    /* Side Nav */
    .side-nav-reading {
      position: fixed;
      left: 0px;
      top: calc(50% + 45px);
      z-index: 1;
      transform: translateY(-50%);
      width: calc(14% + 30px);
      max-width: 215px;
      list-style: none;
      padding: 0px;
      margin: 0px;
      opacity: 0;
      visibility: hidden;
    }
  
    .side-nav-reading li {
      position: relative;
      transform: translate3d(-100%, 0px, 0px);
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease-in-out 0s;
    }
  
    .side-nav-reading a {
      display: block;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.6;
      color: #746d6d;
      border-bottom: none;
      padding-left: 36px;
      margin-bottom: 30px;
      transition-timing-function: ease-in-out;
    }
  
    .side-nav-reading li::before {
      content: "";
      display: block;
      position: absolute;
      top: 10px;
      left: -20px;
      width: 50px;
      height: 1px;
      background: #746d6d;
    }
  
    .side-nav-reading li.active {
      color: #004897;
      transform: translateX(20px) !important;
    }
  
    .side-nav-reading li.active a {
      color: #004897;
    }
  
    .side-nav-reading li.active::before {
      background: #004897;
    }
  
    .side-nav-reading.is-visible {
      opacity: 1;
      visibility: visible;
    }
  
    .side-nav-reading.is-visible li {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0px, 0px, 0px);
      margin-bottom: 8%;
    }
  
    /* New Share Buttons */
    .share-wrapper{
      display: grid;
      position:relative;
      float: right;
      z-index:3;
    }
    .share-toggle:hover, .share-option.share-link > a:hover{
      cursor:pointer;
    }
    .share-options{
      display:none;
      position:absolute;
      top:100%;
      margin-left:0px;
      padding-left:0px;
      background-color: #fff;
      border:1px solid #eee;
      border-radius:4px;
      width:fit-content;
      min-width: 220px;
      max-width: 300px;
      font-size:14px;
      box-shadow: 0px 3px 9px -5px rgba(0, 0, 0, 0.25);
    }
    .share-options.active{
      display:block;
      list-style-type: none;
    }
    .share-option.share-link{
      border-bottom: 1px solid #eee;
    }
    .share-option > a{
      padding:12px 12px;
      display:block;
    }
    .share-option > a > i.fa, .share-option > a > i.fab, .share-option > a > i.fas, 
    .share-option > a > svg{
      margin-right:4px;
    }
    .share-option:hover{
      background-color:var(--norgen-primary-blue-light);
      color:#000;
    }
    .copied-message{
      position:absolute;
      visibility:hidden;
      opacity:0;
      top:0px;
      left:0;
      right:0;
      margin:auto;
      background-color:#eee;
      width: fit-content;
      min-width: 220px;
      max-width: 300px;
      padding: 12px 6px;
    }
    .copied-message:not(.active){
      transition: opacity 0.15s linear 0s, visibility 0s linear 0.15s;
    }
    .copied-message.active{
      visibility:visible;
      opacity:1;
      transition: opacity 0.15s linear 0s, visibility 0s linear 0s;
    }
  
    .close-share-options{
      position:absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      z-index:2;
    }
    .dialog-off-canvas-main-canvas{
      position:relative;
    }
  
    @media only screen and (max-width: 991px){
      .share-options{
        right:0;
      }
    }
  

    .c-content-blog-post-1 .c-panel .c-tags > li{

      font-size: 13px;
      text-transform: uppercase;
      display: inline-block;
      list-style: none;
      margin: 0 2px;


    }

  .rss-button {
  background-color: #ff6600;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  padding: 6px 20px 4px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 5px;
}

.rss-button:hover {
  background-color: #ff8533;
}

.rss-button i {
  margin-right: 5px;
}
  















.carousel {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.carousel-track {
  display: flex !important;
  transition: transform 0.3s ease !important;
}

.carousel-item {
  min-width: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  z-index:999;
  background: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.title_r
{
    font-size: font-size: 19px;
    color: #3f444a;
    transition: all 0.2s;
    display: block;
    padding: 30px 30px 25px 30px;
    border-radius: 0;
    box-shadow: none;
    font-weight: 600;
  background-color: var(--norgen-primary-blue-light);
}


.c-content-blog-post-1 .c-desc
{
  margin: 0px;
}


.hidden {
  display: none;
}

.carousel-item span {
  display: block;
  width: 100%; 
  margin: 5px 0; 
  word-wrap: break-word;
  text-align: left;
  font-size:14px;
}
.price {
  display: block;
  text-align: left;
  font-weight: 600; 
  font-size: 14px; 
      color: #5c6873;
}























  </style>
  <div class="nd-region" style=" padding-bottom: 40px;">
    <div class="container">
      <div class="row">
        <div id="content" style="padding-top: 60px;">
          <div>
            <div id="block-jango-sub-content">
              <article class="contextual-region node node-nd-blog clearfix">
                <div class="c-content-blog-post-12-view">
                  <div class="c-content-blog-post-1">
                    <div class="field field--name-field-images field--type-image field--label-hidden field__items">
                      <div class="field__item">
                        <nav aria-label="skip to article headings">
                          <ul class="side-nav-reading"></ul>
                        </nav>
                        <div class="c-media">
                          {{ content.field_blog_image }}
                        </div>
                      </div>
                    </div>
                    <h1 class="c-title c-font-bold c-font-uppercase">
                      {{ content.field_shown_title }}
                    </h1>
                    <div class="c-panel c-margin-b-30">
                      <div class="c-author">
                        {{ "By " | t }}
                        <span class="c-font-uppercase">
                          {% if content.field_author %} {% set field_author %}
                          {{ content.field_author }}
                          {% endset %}
                          {{ field_author }}
                          {% else %}
                          {# <a href="user/{{ node.getOwnerId() }}"> #}
                            {{ author_name }}
                          {# </a> #}
                          {% endif %}
                        </span>
                      </div>
                      <div class="c-date">
                        {{ "on" | t }}
                        <span class="c-font-uppercase">
                          {{ node.field_sort_date.value|date('d M Y')}}
                        </span>
                      </div>
                      <div class="share-wrapper">
                 <button class="rss-button" onclick="window.location.href='/summary.xml';">
                           <i class="fas fa-rss" style="margin-right:5px;"></i>Summaries RSS
                         </button>

                        <button class="share-toggle btn btn-primary" onclick="toggleShareOptions()" title="Share" alt="Share"><i class="fa fa-share-alt" style="font-weight:900;"></i> Share</button>
                        <ul class="share-options">
                          <!-- Copy Link -->
                          <li class="share-option share-link"><a aria-label="Copy Link" class="shareButton link" href="javascript:void" onclick="copyURL()"><i class="fa fa-link"></i> Copy Link</a><div class="copied-message"><i class="fa fa-check"></i> Link copied</div></li>
                          <!-- Facebook -->
                          <li class="share-option share-facebook"><a aria-label="Share on Facebook" class="shareButton facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ drupal_url(url, {absolute:true}) }}" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ drupal_url(url, {absolute:true}) }}', 'newwindow', 'width=400,height=500'); return false;"><i class="fab fa-facebook"></i> Share on Facebook</a></li>
                          <!-- Twitter -->
                          <li class="share-option share-twitter"><a aria-label="Share on Twitter" class="shareButton twitter" href="https://twitter.com/intent/tweet?url={{ drupal_url(url, {absolute:true}) }}&text=" onclick="window.open('https://twitter.com/intent/tweet?url={{ drupal_url(url, {absolute:true}) }}&text=', 'newwindow', 'width=550,height=285'); return false;"><svg viewBox="0 0 1200 1227" fill="none" xmlns="http://www.w3.org/2000/svg" style="max-width: 14px;max-height: 1.5em;height: 14px;" aria-labelledby="twitter-blog-title-share"><title id="twitter-blog-title-share" lang="en">X formerly known as Twitter</title><path d="M714.163 519.284L1160.89 0H1055.03L667.137 450.887L357.328 0H0L468.492 681.821L0 1226.37H105.866L515.491 750.218L842.672 1226.37H1200L714.137 519.284H714.163ZM569.165 687.828L521.697 619.934L144.011 79.6944H306.615L611.412 515.685L658.88 583.579L1055.08 1150.3H892.476L569.165 687.854V687.828Z" fill="#337ab7"></path></svg> Share on Twitter</a></li>
                          <!-- LinkedIn -->
                          <li class="share-option share-linkedin"><a aria-label="Share on LinkedIn" class="shareButton linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ drupal_url(url, {absolute:true}) }}&title=&summary=&source=" onclick="window.open('https://www.linkedin.com/shareArticle?mini=true&url={{ drupal_url(url, {absolute:true}) }}&title=&summary=&source=', 'newwindow', 'width=500,height=500'); return false;"><i class="fab fa-linkedin"></i> Share on LinkedIn</a></li>
                          <!-- Instagram -->
                          {# <li class="share-option share-instagram"><a aria-label="Share on Instagram" class="shareButton instagram" href="https://www.instagram.com/norgen.biotek" target="_blank"><i class="fab fa-instagram"></i> Share on Instagram</a></li> #}
                        </ul>
                        
                      </div>
                      <!-- <div class="c-comments">
                          {% if node.field_edit_date.value %}
                          {{ 'Revised on'|t }}
                          <span class="c-font-uppercase">
                            {{ node.field_edit_date.value|date('d M Y') }}
                            {{ node.field_edit_date.value|date('g:i A') }}
                          </span>
                          {% endif %}
                        </div> -->
                      {{ content.field_category }}
                    </div>
                  <div class="c-desc">
      <div class="field field--name-body field--type-text-with-summary field--label-hidden field__item">
          {% if content.body[0]['#text'] is defined %}
              {% set body_text = content.body[0]['#text'] %}
              {% set paragraphs = body_text|split('</p>') %}
              {% set half_index = (paragraphs|length / 2)|round(0, 'floor') %}
  
              {% for paragraph in paragraphs %}
                  {% if paragraph|trim is not empty %}
                      <div class="paragraph">
                          {{ paragraph|raw }}
                      </div>
  
                      {% if loop.index == half_index %}
                          {% if node.nid == 2197 %}
                              <div class="subscribe-popup1">
                                  <div class="saliva-campaign">
                                    
                                      <h2 style="
                                          color: #000;
                                          font-size: 23px;
                                          font-weight: 600;
                                          margin: 2% 0;
                                          text-align: center;">
                                          Soil Total RNA Purification Kit
                                      </h2>
                                      <img src="https://norgenbiotek.com/sites/default/files/styles/norproduct_imagekit/public/images/product_images/27750-Soil-Total-RNA-Purification-Kit-WEB_0.jpg" alt="Soil Total RNA Purification Kit" />
                                      <hr style="margin: 0px" />
                                      <p>For the rapid preparation of inhibitor-free total RNA from soil.</p>
                                      <hr style="margin-top: 0px; margin-bottom: 20px" />
                                      <div class="wrap">
                                          <a class="btn btn-services animated-button" style="
                                              width: fit-content;
                                              color: #000;
                                              height: fit-content;" 
                                              href="https://norgenbiotek.com/product/soil-total-rna-purification-kit">Buy Now</a>
                                      </div>
                                  </div>
                              </div>
                          {% elseif content.field_custom_cta is defined and content.field_custom_cta.0 is not empty and content.field_custom_cta.0["#markup"] != "No" %}
                              <div class="subscribe-popup1">
                                 
                                  <div class="saliva-campaign">
                                      {% if content.field_cta_heading is defined %}
                                          <h4 style="
                                              color: #000;
                                              font-size: 23px;
                                              font-weight: 600;
                                              margin: 2% 0;" 
                                              class="slider-caption">
                                              {{ content.field_cta_heading }}
                                          </h4>
                                      {% endif %}
                                      {% if content.field_cta_image is defined %}
                                          <div>{{ content.field_cta_image }}</div>
                                      {% endif %}
                                      <hr style="margin: 0" />
                                      {% if content.field_cta_tagline is defined %}
                                          <p style="font-weight: bold">
                                              {{ content.field_cta_tagline }}
                                          </p>
                                      {% endif %}
                                      {% if content.field_cta_button_link is defined %}
                                          <a class="btn btn-services" href="{{ content.field_cta_button_link.value }}">Learn More</a>
                                      {% endif %}
                                  </div>
                              </div>
                          {% else %}
                              <div class="subscribe-popup1">
                                  
                                  <div class="saliva-campaign">
                                      <p align="center" style="color: #000; z-index: 0">
                                          <i style="font-size: 47px"></i>
                                      {# class="bell fa fa-bell" #}
                                      </p>
                                      <h2 style="color: #000; font-size: 40px" class="slider-caption letter-space">
                                          NORBLOG
                                      </h2>
                                      <h3 style="font-weight: bold; font-size: 16px">
                                          Want to hear more from Norgen?
                                      </h3>
                                      <p>
                                          Join over 10,000 scientists, bioinformaticians, and researchers who receive our exclusive deals, industry updates, and more, directly to their inbox.
                                      </p>
                                      <p>For a limited time, subscribe and 
                                          <strong style="font-size:18px;text-decoration:underline;">SAVE 10%</strong> 
                                          on your next purchase!
                                      </p>
                                      <a class="btn btn-services newsletter-signup-page" style="
                                          width: fit-content;
                                          color: #000;
                                          height: fit-content;" 
                                          href="https://zc.vg/a8bsC">
                                          <p style="margin-bottom: 0">SIGN UP</p>
                                      </a>
                                  </div>
                              </div>
                          {% endif %}
                      {% endif %}
                  {% endif %}
              {% endfor %}
          {% endif %}
      </div>
  </div>
  
                   
                  </div>
                </div>
                {% if node.field_references.value %}
                <hr>
                <div class="c-content-accordion-norgen c-accordion-norgen-primary-blue-light">
                  <div class="panel-group" id="accordion-1" role="tablist">
                    <div class="panel">
                      <div class="panel-heading" role="tab" id="accordiontab">
                        <h2 class="panel-title">
                          <a class="c-font-bold c-font-19 collapsed" data-bs-toggle="collapse"
                            data-parent="#accordion-1" href="#references" aria-expanded="false"
                            aria-controls="2595394">References <i class="fa fa-chevron-down"></i>
                          </a>
                        </h2>
                      </div>
                      <div id="references" class="panel-collapse collapse" role="tabpanel" aria-labelledby="accordiontab"
                        aria-expanded="false" style="height: 0px;">
                        <div class="panel-body">
                          {{ content.field_references }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>


  
    {% set has_products = false %}
    {% for key, product in elements.field_related_products %}
      {% if '#' not in key %}
        {% set has_products = true %}
      {% endif %}
    {% endfor %}
    
    {% if has_products %}
      <h3 class="title_r">Related Products <i class="fa fa-chevron-down"></i></h3>
      <div class="rel_prod">
        <div class="carousel">
          <button class="prev"><</button>
          <div class="carousel-track">
            {% for key, product in elements.field_related_products %}
              {% if '#' not in key %}
                <div class="carousel-item">
                  <img src="{{ file_url(product['#entity'].field_product_image.entity.uri.value) }}" 
                      alt="{{ product['#entity'].get('title').value }}"/>
                  <span>{{ content.field_related_products[key] }}</span>
                  <span>SKU: {{ product['#entity'].get('sku').value }} | {{ product['#entity'].get('attribute_format').entity.name.value }} | {{ product['#entity'].get('attribute_size').entity.name.value }}</span>
                </div>
              {% endif %}
            {% endfor %}
          </div>
          <button class="next">></button>
        </div>
      </div>
    {% else %}
      <style>
        .title_r, .prev, .next {
          display: none;
        }
      </style>
    {% endif %}






  </div>
  <script>
    window.addEventListener("load", function () {
      const innerDiv = document
        .querySelector(".c-desc")
        .querySelector(".field--name-body");
  
      var h = innerDiv.getElementsByTagName("h2");
      var l_item = document.getElementsByClassName("side-nav-reading")[0];
  
      for (var i = 0; i < h.length; i++) {
        if (h[i].innerText != "References") {
          var li = document.createElement("li");
          var a = document.createElement("a");
          li.setAttribute("class", "item");
          a.setAttribute("href", "#heading" + (i + 1) + "");
          li.setAttribute("onclick", "linkS(this)");
          l_item.appendChild(li);
          li.appendChild(a);
          a.innerText = h[i].innerText;
        }
      }
  
      const navLi = document.querySelectorAll(".side-nav-reading li");
      //get sidenav buttons
      const buttons = document.querySelectorAll(".side-nav-reading li");
  
      if (buttons[0]) {
        window.addEventListener("scroll", () => {
          const innerDiv2 = document.querySelector(".field--name-body");
  
          var h2 = innerDiv.getElementsByTagName("h2");
          var num_headings = h2.length;
          //need to know if there is a References section PRIOR to adding or removing active. Check last h2 element to see if it's References
          if (h2[h2.length - 1].innerText == "References") {
            num_headings--; //remove last h2 tag (References)
          }
          for (var i = 0; i < num_headings; i++) {
            const sectNum = i;
            const offset =
              h2[i].getBoundingClientRect().top - window.screen.height + 142; //subtract screen height to account for when it comes onto the screen
            //if page top is reached by this section, change active side nav item
            if (offset <= 0) {
              if (check == false) {
                for (var j = 0; j < num_headings; j++) {
                  buttons[j].classList.remove("active");
                }
                buttons[sectNum].classList.add("active");
              }
            }
            check = false;
          }
        });
      }
    });
    var check = false;
    function linkS(clicked_id) {
      check = true;
      const innerDiv2 = document.querySelector(".side-nav-reading");
      var h2 = innerDiv2.getElementsByTagName("li");
      for (var j = 0; j < h2.length; j++) {
        h2[j].classList.remove("active");
      }
      clicked_id.classList.add("active");
    }
  </script>
  <script>
    var close = 0;
    function closebox() {
      var popup = document.querySelector(".subscribe-popup1");
      {# popup.style.opacity = "0"; #}
      {# popup.style.visiblity = "hidden"; #}
      {# close = 1; #}
    }
  
    let processScroll = () => {
      let docElem = document.documentElement,
        docBody = document.body,
        scrollTop = docElem["scrollTop"] || docBody["scrollTop"],
        scrollBottom =
          (docElem["scrollHeight"] || docBody["scrollHeight"]) -
          window.innerHeight /* docElem.scrollHeight */ -
          800 /* subtract 800 for the approximate height of the footer and copyright sections */,
        scrollPercent = (scrollTop / scrollBottom) * 100 + "%";
  
      // document.getElementById("back-progress-bar").style.opacity = "1";
      // document
      //   .getElementById("progress-bar")
      //   .style.setProperty("--scrollAmount", scrollPercent);
      var y = window.scrollY;
      var side_nav_classlist =
        document.querySelector(".side-nav-reading").classList;
      var subscribe_popup_style =
        document.querySelector(".subscribe-popup1").style;
  
      if (y >= 500) {
        side_nav_classlist.add("is-visible");
      } else if (y < 500) {
        side_nav_classlist.remove("is-visible");
        // document.getElementById("back-progress-bar").style.opacity = "0";
      }
  
      var x = 0;
      if (y >= 500 && close == 0) {
        //x = 0;
        subscribe_popup_style.opacity = "1";
        subscribe_popup_style.visibility = "visible";
        // subscribe_popup_style.animationPlayState = "running";
        document
          .querySelector(".subscribe-popup1")
          .classList.add("subscribe-animation");
      } else {
        {# subscribe_popup_style.opacity = "0"; #}
        {# subscribe_popup_style.visibility = "hidden"; #}
        document
          .querySelector(".subscribe-popup1")
          .classList.remove("subscribe-animation");
      }
  
      var body_offset;
      if (window.innerWidth <= 1280 && window.innerHeight >= 720) {
        body_offset = 0.7 * document.body.offsetHeight;
      } else body_offset = document.body.offsetHeight;
      if (window.innerHeight + window.scrollY >= body_offset - 800) {
        /* subtract 800 for the approximate height of the footer and copyright sections */
        side_nav_classlist.remove("is-visible");
        {# subscribe_popup_style.opacity = "0"; #}
        {# subscribe_popup_style.visibility = "hidden"; #}
      }
      // always hide the side nav bar if it will overlap with the blog's content (when window width is less than 1380px).
      x = window.innerWidth;
      if (x < 1380) {
        side_nav_classlist.remove("is-visible");
      }
    };
    window.addEventListener("scroll", processScroll);
  
      
    /* New Share Options */
    function toggleShareOptions(){
      let share_options = document.querySelector('.share-wrapper .share-options');
      if(share_options) share_options.classList.toggle('active');
      if(share_options.classList.contains('active')){ // if active, add the close background div
        let main_canvas = document.querySelector('.dialog-off-canvas-main-canvas');
        let hide_div = document.createElement('div');
        hide_div.classList.add('close-share-options');
        hide_div.setAttribute("onclick", "toggleShareOptions()");
        main_canvas.appendChild(hide_div);
      }
      else{ // not active
        let hide_div = document.querySelector('.close-share-options');
        if(hide_div) hide_div.remove();
      }
    }
  
    function copyURL(){
      let url = window.location.href;
  
      // Copy the text inside the text field
      navigator.clipboard.writeText(window.location.href);
  
      // Alert the copied text
      let copied_message = document.querySelector('.copied-message');
      if(copied_message){
        copied_message.classList.add('active');
        setTimeout(() => {
          remove_copied_message(copied_message);
        }, "1000"); // remove the message automatically after 2 seconds of displaying it
      }
      /* alert("Copied the URL:" + window.location.href); */
    }
    function remove_copied_message(copied_message){
      copied_message.classList.remove('active');
    }



    //carousel logic

    document.addEventListener("DOMContentLoaded", function () {
      const track = document.querySelector(".carousel-track");
      const prevButton = document.querySelector(".prev");
      const nextButton = document.querySelector(".next");
      const carouselItem = document.querySelector(".carousel-item");
      const title = document.querySelector(".title_r");
      const container = document.querySelector(".rel_prod");
    
      if (track && carouselItem) {
        let currentPosition = 0;
        const itemWidth = carouselItem.offsetWidth;
        const totalItems = document.querySelectorAll(".carousel-item").length;
        const visibleItems = Math.floor(track.parentElement.offsetWidth / itemWidth);
        const maxPosition = (totalItems - visibleItems) * itemWidth;
    
        if (prevButton) {
          prevButton.addEventListener("click", function () {
            if (currentPosition < 0) {
              currentPosition += itemWidth;
              track.style.transform = `translateX(${currentPosition}px)`;
            }
          });
        }
    
        if (nextButton) {
          nextButton.addEventListener("click", function () {
            if (Math.abs(currentPosition) < maxPosition) {
              currentPosition -= itemWidth;
              track.style.transform = `translateX(${currentPosition}px)`;
            }
          });
        }
      }
    
   
      if (container) {
        container.classList.add("hidden");
      }
    
      if (title && container) {
        title.addEventListener("click", function () {
          container.classList.toggle("hidden");
        });
      }
    });





  </script>