{#
  /**
  * @file
  * Theme override for main view template.
  *
  * Available variables:
  * - attributes: Remaining HTML attributes for the element.
  * - css_name: A CSS-safe version of the view name.
  * - css_class: The user-specified classes names, if any.
  * - header: The optional header.
  * - footer: The optional footer.
  * - rows: The results of the view query, if any.
  * - empty: The content to display if there are no rows.
  * - pager: The optional pager next/prev links to display.
  * - exposed: Exposed widget form/info to display.
  * - feed_icons: Optional feed icons to display.
  * - more: An optional link to the next page of results.
  * - title: Title of the view, only used when displaying in the admin preview.
  * - title_prefix: Additional output populated by modules, intended to be
  * displayed in front of the view title.
  * - title_suffix: Additional output populated by modules, intended to be
  * displayed after the view title.
  * - attachment_before: An optional attachment view to be displayed before the
  * view content.
  * - attachment_after: An optional attachment view to be displayed after the
  * view content.
  * - dom_id: Unique id for every view being printed to give unique class for
  * JavaScript.
  *
  * @see template_preprocess_views_view()
  */
  #}
  {%
  set classes = [
  dom_id ? 'js-view-dom-id-' ~ dom_id,
  ]
  %}
  
  <div{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    <div class="taxonomy-title">
    <h1 class="taxonomy-title">  {{ feed_icons.0["#title"]|raw }}</h2>
    </div>
    {{ title_suffix }}
  
    {# {{dump(feed_icons.0["#title"])}} #}
  
    {% if header %}
    <header>
      {{ header }}
    </header>
    {% endif %}
  
    {{ exposed }}
    {{ attachment_before }}
  
    {% if rows -%}
    <div class="view-content">
      {{ rows }}
    </div>
    {% elseif empty -%}
    {{ empty }}
    {% endif %}
    {{ pager }}
  
    {{ attachment_after }}
    {{ more }}
  
    {% if footer %}
    <footer>
      {{ footer }}
    </footer>
    {% endif %}
  
    {# {{ feed_icons }} #}
    </div>
    <style>
      .taxonomy-title {
        font-weight: 600;
        font-size: 30px;
        margin: 5rem;
        margin-left: 0;
      }
  
      /* Cards */
      .views-element-container {
        /*width: 75%;*/
        margin: auto;
        margin-bottom: 3%;
      }
  
      .views-element-container h2 {
        font-size: 32px;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
  
      }
  
      .view-content {
        display: -ms-grid;
        /* -ms-grid-columns: 1fr (24px 1fr)[3];
        -ms-grid-rows: 1fr 40px 1fr; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
        margin-bottom: 24px;
        margin: auto;
      }
  
      .views-row :nth-child(1) {
        -ms-grid-column: 1;
        -ms-grid-row: 1;
      }
  
      .views-row {
        box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.09), 0 6px 20px 0 rgba(0, 0, 0, 0.17);
        border-radius: 12px;
        padding: 0 0 15px 0;
        transition: .5s;
        /* max-height: 600px; */
        display: -ms-grid;
        -ms-grid-rows: 150px max-content max-content 1fr max-content;
        -ms-grid-columns: 1fr 1fr;
        display: grid;
        grid-template: max-content max-content max-content 1fr max-content / 1fr 1fr;
      }
  
      .views-row .views-field-field-blog-image {
        -ms-grid-row: 1;
        -ms-grid-column-span: 2;
        grid-column: span 2;
      }
  
      .views-row div img {
        border-radius: 12px 12px 0 0;
        height: 200px;
        /* min-height: 10vw; */
        object-fit: cover;
        width: 100%;
        max-height: 300px;
      }
  
      .views-row .views-field-field-author {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
      }
  
      .views-row .views-field-field-author .field-content,
      .views-row .views-field-field-sort-date .field-content {
        width: 100%;
      }
  
      .views-field-body {
        padding-left: 15px;
        padding-right: 15px;
        grid-column: span 2;
      }
  
      .views-row:hover {
        transform: scale(1.04);
        transition: .5s;
      }
  
      .views-row .views-field-title {
        -ms-grid-row: 3;
        -ms-grid-column-span: 2;
        grid-column: span 2;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 20px;
        margin-top: 20px;
  
      }
  
      .views-field-title .field-content {
        font-size: 18px;
        font-weight: bold;
      }
  
      .views-field-field-sort-date,
      .views-field-field-author {
        margin-top: 12px;
        margin-bottom: 12px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        color: black;
        max-height: 50px;
      }
  
      .views-field-field-sort-date {
        text-align: right;
      }
  
      .views-field-field-read-time {
        padding-left: 15px;
        padding-right: 15px;
      }
  
      .views-field-view-node {
        margin: 10px
      }
  
      /* Page navigation */
  
      .js-pager__items {
        list-style: none;
        list-style-position: outside;
        padding-left: 0;
        text-align: center;
        margin-top: 3%;
      }
  
      .js-pager__items li {
        display: inline-block;
        font-size: 2rem;
        font-weight: bold;
        color: #004897;
        margin-left: 20px;
      }
  
      .js-pager__items .is-active a {
        background-color: #c9c9c9;
        border: none;
      }
  
      .js-pager__items li a {
        padding: 5px 14px;
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 15px;
      }
  
      .js-pager__items li a:hover {
        text-decoration: none;
        background-color: #eee;
      }
  
      .bl-land-list .views-field-view-node {
        width: 100%;
        grid-column: span 1;
        display: flex;
        flex-direction: column-reverse;
      }
  
      .views-field-view-node .btn-primary {
        width: max-content;
      }
  
      .view-blog-landing .view-content,
      .view-clone-of-blog-landing .view-content,
      .view-taxonomy-term .view-content,
      .view-new-pub-summaries .view-content {
        display: -ms-grid;
        -ms-grid-columns: 1fr (24px 1fr) [3];
        -ms-grid-rows: 1fr 40px 1fr;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 24px;
        margin-bottom: 24px;
      }
  
      #section-main-content {
        width: 75%;
        margin: 5% auto;
      }
  
      @media only screen and (max-width: 850px) {
  
        .view-blog-landing .view-content,
        .view-clone-of-blog-landing .view-content,
        .view-taxonomy-term .view-content,
        .view-new-pub-summaries .view-content {
          -ms-grid-columns: 1fr (24px 1fr) [2];
          -ms-grid-rows: 1fr (40px 1fr) [2];
          grid-template-columns: repeat(2, 1fr);
        }
      }
  
      @media only screen and (max-width: 650px) {
  
        .view-blog-landing .view-content,
        .view-clone-of-blog-landing .view-content,
        .view-taxonomy-term .view-content,
        .view-new-pub-summaries .view-content {
          -ms-grid-columns: 1fr 24px 1fr;
          -ms-grid-rows: 1fr (24px 1fr) [3];
          grid-template-columns: repeat(1, 1fr);
        }
      }
  
      #edit-search input[type="text"]::-webkit-input-placeholder {
        color: #ff0000;
        display: block !important;
      }
  
      #edit-search input[type="text"]::-webkit-input-placeholder::after {
        content: "\2716";
        /* "X" */
        font-size: 18px;
        color: #ff0000;
        padding-right: 0;
        float: right;
        display: block !important;
      }
  
      #edit-search input[type="text"]::-webkit-input-placeholder::after {
        content: "\2714";
        /* checkmark */
        font-size: 18px;
        color: #438d5b;
        padding-right: 0;
        float: right;
        display: block !important;
      }
  
      #edit-search input[type="text"]::-webkit-input-placeholder::after {
        visibility: visible;
        display: block !important;
      }
  
      .page_title_no_sub {
        display: none;
      }
  
      .container {
        padding-left: 0px;
        padding-right: 0px;
      }
  
      .btn-primary a {
        color: #fff;
      }
  
      /* .form-item-search input{
            color:#000;
        } */
      /*     .form-item-search input::placeholder,
        .form-item-search input:not(:focus)::placeholder,
        .form-item-search input:not(:focus-visible)::placeholder,
        .form-item-search input:not(:target)::placeholder,
        .form-item-search input::-webkit-input-placeholder,
        .form-item-search input:not(:focus)::-webkit-input-placeholder,
        .form-item-search input:not(:focus-visible)::-webkit-input-placeholder,
        .form-item-search input:not(:target)::-webkit-input-placeholder{
            color:#555!important;
            opacity:1!important;
            visibility: visible!important;
        } */
  
      #section-main-content .container {
        width: 100% !important;
      }
  
      .carousel-caption-blog {
        position: absolute;
        z-index: 10;
        top: 10%;
        left: 15%;
        right: 15%;
        text-align: left;
        -webkit-text-shadow: none;
        text-shadow: none;
      }
  
      .blog-pretitle {
        float: left;
      }
  
      .blog-pretitle h3 {
        font-size: 32px;
      }
  
      .blog-pretitle p,
      .blog-prebody p,
      .blog-prebody a {
        font-size: 16px;
      }
  
      .blog-prebody {
        border-top: 2px solid #d24781;
        padding-top: 15px;
        float: left;
      }
  
      /* SEARCH STUFF */
      .sort-by-date {
        position: relative;
        list-style: none;
        width: 150px;
        margin-bottom: 20px;
        display: inline-block;
        z-index: 10;
        top: 0px;
      }
  
      .sort-by-date li button {
        padding: 0px 10px;
      }
  
      .sort-by-dropdown {
        display: none;
        list-style: none;
        margin-left: 0;
      }
  
      .sort-by-dropdown.active {
        display: block;
      }
  
      .sort-by-dropdown li {
        text-align: left;
      }
  
      .sort button {
        width: 100%;
      }
  
      .display-active {
        background: #004897;
        color: #fff;
        text-align: left;
        border: none;
        height: 34px;
        width: 100%;
        border-radius: 18px;
      }
  
      .display-active.active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
  
      .dropdown-button {
        text-align: left;
        background: #fff;
        color: #000;
        border: 1px solid #000;
        height: 34px;
      }
  
      .sort.active {
        display: list-item;
      }
  
      .view-blog-landing {
        overflow: hidden;
      }
  
      .more-blogs {
        margin-bottom: 0px;
      }
  
      .sort-by-header {
        display: inline-block;
        margin: 0px 20px;
        margin-bottom: 15px;
        margin-top: 10px;
      }
  
      .sort-by-header-mobile {
        display: inline-block;
        margin: 0px 20px;
        margin-bottom: 15px;
        margin-top: 10px;
      }
  
      .sort-by-date-mobile {
        position: relative;
        list-style: none;
        width: 150px;
        margin-bottom: 20px;
        display: inline-block;
        z-index: 10;
        top: 0px;
      }
  
      .sort-by-date-mobile li button {
        padding: 0px 10px;
      }
  
      .flex-blog {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: fit-content;
      }
  
      /* New filters CSS */
      .views-exposed-form {
        margin: auto;
        margin-bottom: 60px;
        width: fit-content;
        padding: 0px 15px;
      }
  
      #edit-sort-by {
        display: none;
      }
  
      .form-item-sort-by.form-group.form-item {
        display: none;
      }
  
      .views-exposed-form .form-group,
      .views-exposed-form .form-actions {
        display: inline-block;
      }
  
      .views-exposed-form .form-group.form-item-search .form-group,
      .views-exposed-form .form-group.form-item-combine .form-group {
        /* Keep search label display:block */
        display: block;
      }
  
      .views-exposed-form .form-actions .form-submit {
        margin-top: 0px;
        font-size: 14px;
        padding: 12px 12px;
      }
  
      /* End New filters CSS */
  
      fieldset.captcha-admin-links {
        display: none;
      }
  
      @media only screen and (min-width: 480px) and (max-width: 600px) {
        a.btn.btn-bloglnd {
          margin-top: 0px;
          font-size: 12px;
        }
      }
  
      .views-field-field-body-p-summary- {
        padding-left: 15px;
        padding-right: 15px;
        grid-column: span 2;
      }
  
      .saliva-campaign {
        margin: auto;
        width: fit-content;
        padding: 3em;
      }
  
      .subscribe-CTA-box {
        display: flex;
        width: 100%;
        text-align: left;
        overflow: hidden;
        padding-top: 10%;
        margin-top: -10%;
      }
  
      .CTA-img {
        /* display: none; */
        position: absolute;
        bottom: 0%;
        max-height: calc(150% + 10vh);
        bottom: -10vh;
        max-width: 30%;
      }
  
      .CTA-bg-shape {
        position: absolute;
        bottom: 0;
        right: 56%;
        height: 100%;
      }
  
      .CTA-text-container {
        position: relative;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        /* background-color: #aee8f1; */
        /* background-color: #004897; */
        /* background: linear-gradient(90deg, #307a9a, #004897); */
        /* background: linear-gradient(90deg, #000, #004897); */
        background: linear-gradient(-90deg, #022954, #1e6ab0);
        color: #fff;
      }
  
      .CTA-text-box {
        display: grid;
        margin-left: auto;
        margin-right: 0;
        width: 60%;
        text-align: left;
        padding: 2em 0;
        margin: auto;
      }
  
      /* CTA box */
      @media only screen and (min-width: 1280px) {
        .CTA-img {
          right: 72.5%;
        }
      }
  
      @media only screen and (max-width: 768px) {
        .CTA-img {
          position: absolute;
          bottom: -10vw;
          max-width: 30%;
        }
      }
  
  
      @media only screen and (max-width: 1440px) {
        .CTA-img {
          position: absolute;
          bottom: -2vw;
          max-width: 30%;
          right: 72%;
        }
      }
  
      @media only screen and (max-width: 1024px) {
        .CTA-img {
          max-width: 40%;
          right: 65%;
        }
  
        .CTA-text-box {
          width: 50%;
        }
      }
  
      @media only screen and (max-width: 768px) {
        .CTA-img {
          max-width: 50%;
          right: 57%;
        }
  
        .CTA-text-box {
          width: 40%;
        }
      }
  
      @media only screen and (max-width: 600px) {
        #edit-search-wrapper div.form-item-search input {
          border-bottom-right-radius: 36px;
          border-top-right-radius: 36px;
          border-right: 1px solid #ccc;
        }
  
        .CTA-img {
          display: none;
        }
  
        .CTA-bg-shape {
          position: absolute;
          bottom: 0;
          right: 56%;
          height: 100%;
          display: none;
        }
  
        .CTA-text-box {
          display: block;
          margin-left: auto;
          margin-right: 0;
          width: 100%;
          text-align: left;
          /* background-color: #aee8f1; */
          height: 100%;
          padding: 2em;
        }
  
        .webinar {
          padding: 15px;
          display: block;
          align-items: center;
        }
  
        .carousel-caption-ncov h5 {
          font-size: 40px;
          margin-bottom: 0;
        }
  
        .carousel-caption-ncov p {
          font-size: 20px !important;
        }
  
        .mobileSort {
          display: flex;
          position: absolute;
          left: 0;
          right: 0;
          top: 180px;
          margin: auto;
          width: fit-content;
        }
  
        .sort-by-header {
          display: none;
        }
  
        .sort-by-date {
          display: none;
        }
  
        #edit-search-wrapper,
        .views-widget,
        .form-item-search,
        #edit-search {
          width: 100%;
        }
  
        #edit-search-wrapper {
          flex-grow: 1;
        }
  
        .mobileSort {
          display: flex;
          position: absolute;
          left: 0;
          right: 0;
          top: 180px;
          margin: auto;
          width: fit-content;
        }
  
        .sort-by-header {
          display: none;
        }
  
        .sort-by-date {
          display: none;
        }
  
        div.views-exposed-widgets {
          display: grid;
        }
  
        #edit-search-wrapper,
        .views-widget,
        .form-item-search,
        #edit-search {
          width: 100%;
        }
  
        #edit-search-wrapper {
          flex-grow: 1;
        }
  
        .btn-blog-search {
          border-top-left-radius: 18px;
          border-bottom-left-radius: 18px;
          width: 100%;
        }
      }
  
      @media only screen and (min-width: 480px) and (max-width: 600px) {
        a.btn.btn-bloglnd {
          margin-top: 0px;
          font-size: 12px;
        }
      }
  
      @media only screen and (min-width: 420px) and (min-height: 720px) {
        .mobileSort {
          top: 140px;
        }
      }
  
      @media only screen and (max-width: 360px) and (max-height: 720px) {
        .mobileSort {
          top: 230px;
        }
      }
  
      @media only screen and (max-width: 312px) {
        .CTA-text-box {
          display: block;
          margin-left: auto;
          margin-right: 0;
          width: 100%;
          text-align: left;
          height: 100%;
          padding: 2em;
          width: inherit;
          margin-left: 0px;
        }
  
        .CTA-text-box>h5 {
          display: none !important;
        }
      }
  
      @media only screen and (max-width: 800px) {
        .blog-car .saliva-campaign>p:first-child {
          display: block !important;
        }
      }
  
      @media only screen and (max-width: 500px) {
        .carousel-caption-ncov h5 {
          font-size: 30px;
          margin-bottom: 0;
        }
  
        .saliva-campaign {
          padding: 0;
        }
      }
  
      @media only screen and (max-width: 400px) {
        .carousel-caption-ncov h5 {
          font-size: 25px;
          margin-bottom: 0;
        }
      }
  
      @media only screen and (max-width: 288px) {
        .carousel-caption-ncov h5 {
          font-size: 22px;
          margin-bottom: 0;
        }
  
        .carousel-caption-ncov p {
          font-size: 16px !important;
        }
      }
  
      .saliva-campaign>.slider-line {
        display: block !important;
      }
  
      @media only screen and (max-width: 990px) {
        .front-indicators .carousel-inner {
          height: 650px !important;
        }
      }
  
      .blog-car {
        position: unset;
      }
  
      .pre-read {
        color: #1a3c93;
        font-weight: 800;
        font-size: 16px;
        text-align: right;
        padding-top: 10px;
      }
  
      .bl-land-list .views-field-view-node {
        width: 100%;
        grid-column: span 1;
        display: flex;
        flex-direction: column-reverse;
      }
  
      .bl-land-list .views-field-view-node .btn-primary {
        width: max-content;
      }
  
      .views-field-field-edit-date {
        display: flex;
      }
  
      @media only screen and (max-width: 1238px) and (max-height: 720px) {
  
        .view-blog-landing .view-content,
        .view-clone-of-blog-landing .view-content,
        .view-taxonomy-term .view-content {
          grid-template-columns: repeat(3, 1fr);
        }
      }
  
      @media only screen and (max-width: 930px) and (max-height: 720px) {
  
        .view-blog-landing .view-content,
        .view-clone-of-blog-landing .view-content,
        .view-taxonomy-term .view-content {
          grid-template-columns: repeat(2, 1fr);
        }
      }
  
      @media only screen and (max-width: 851px) and (max-height: 720px) {
  
        .view-blog-landing .view-content,
        .view-clone-of-blog-landing .view-content,
        .view-taxonomy-term .view-content {
          grid-template-columns: repeat(2, 1fr);
        }
      }
  
      @media only screen and (max-width: 622px) and (max-height: 720px) {
  
        .view-blog-landing .view-content,
        .view-clone-of-blog-landing .view-content,
        .view-taxonomy-term .view-content {
          grid-template-columns: repeat(1, 1fr);
        }
      }
  
      .show-pl {
        display: block !important;
      }
  
      /* new styles */
  
      .btn-services {
        border-color: #e19829;
        background-color: #e19829;
      }
  
      .btn {
        padding: 12px 20px;
        border-radius: 12px;
        white-space: normal;
      }
  
      .CTA-text-box h4 {
        font-size: 20px;
      }
  
      .CTA-text-box h5,
      .CTA-text-box h4 {
        margin-bottom: 15px;
      }
  
      .letter-space {
        letter-spacing: 12px;
      }
  
      .saliva-campaign h2 {
        font-size: 70px;
      }
  
      .saliva-campaign h5 {
        font-weight: 100;
      }
  
  
      .blog-title h2 {
        font-size: 32px;
        text-align: center;
        margin-top: 3%;
        margin-bottom: 3%;
      }
  
  
      @media only screen and (max-width: 1440px) {
        .view-content {
          -ms-grid-columns: 1fr (24px 1fr) [2];
          -ms-grid-rows: 1fr (40px 1fr) [2];
          grid-template-columns: repeat(2, 1fr) !important;
        }
      }
  
      @media only screen and (max-width: 900px) {
        .view-content {
          -ms-grid-columns: 1fr 24px 1fr;
          -ms-grid-rows: 1fr (24px 1fr) [3];
          grid-template-columns: repeat(1, 1fr) !important;
        }
      }
  
      .container:before,
      .container:after {
        content: " ";
        display: none;
      }
    </style>